<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新增博客</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.css">
    <script src="../../static/js/marked.js"></script>
</head>
<body>
<div class="card">
    <div class="card-body">
        <div class="row " style="height: 100%">
            <div class="col-6 border">
                <h4 style="margin-bottom: 20px;">新增博客</h4>
                <form action="/blog/addBlog" method="post">
                    <input type="text" name="uid" value="{{ uid }}" style="display: none;">
                    <input type="text" name="umail" value="{{ umail }}" style="display: none;">
                    <label for="basic-url" class="form-label">博客标题</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon3">Title</span>
                        <input name="title" type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                    </div>
                    <label for="status">状态</label>
                    <select id="status" class="form-select" aria-label="Default select example" name="status">
                        <option value="1">私密</option>
                        <option value="0">公开</option>
                    </select>
                    <label for="content">博客内容(支持Markdown语法)</label> <br>
                    <div class="input-group">

                        <textarea id="content" class="form-control" aria-label="With textarea"
                                  name="content" rows="20" cols="20"></textarea>
                    </div>
                    <button class="btn btn-primary" type="submit">确认提交</button>
                    <a class="btn btn-primary" href="/space">返回个人中心</a>
                </form>
            </div>
            <div class="col-6 border">
                <h4>预览</h4>
                <br>
                <div id="preview">
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    var input = document.getElementById('content')
    var preview = document.getElementById('preview')

    input.onchange = function () {
        preview.innerHTML = marked.parse(input.value)
    }


</script>
<style>
    body {
        background-image: url("../../static/bg2.jpg");
        background-size: 100%;
    }

    .card {
        margin-top: 40px;
        margin-left: 5%;
        margin-right: 5%;
    }
    img{
        max-width: 100%;
    }

</style>
</html>